global-reset()

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

button
input[type="reset"]
input[type="button"]
input[type="submit"]
  &::-moz-focus-inner
    padding: 0
    margin: 0
    border: 0

input, button, select
  margin: 0
  padding: 0
  border: 0

body
  background: var(--color-navy)
  font-size: font-size
  font-family: font-sans
  color: var(--color-default)
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  overflow-x: hidden

a
  color: var(--color-link)
  text-decoration: none
  &:hover
    color: var(--color-link-hover)
    text-decoration: underline
  @media print
    color: var(--color-default)
    text-decoration: underline
    &:after
      content: " (" attr(href) ")"
      font-size: 80%

@media screen and (max-device-width: 480px)
  body
    -webkit-text-size-adjust: none;

.wrapper
  @media screen
    max-width: max-width
    margin: 0 auto

.inner
  @media screen
    padding: 0 gutter-width

#content-wrap
  background: var(--color-content-bg)
  overflow: hidden
  
.video-container
  text-align: center
