#cc-main
  --cc-btn-primary-bg: var(--color-link)
  --cc-btn-primary-color: #fff
  --cc-btn-primary-border-color: var(--color-link)
  --cc-btn-primary-hover-bg: var(--color-link-hover)
  --cc-btn-primary-hover-border-color: var(--color-link-hover)
  --cc-btn-secondary-bg: #eaeff2
  --cc-btn-secondary-color: var(--color-default)
  --cc-btn-secondary-border-color: #eaeff2
  --cc-toggle-on-bg: var(--color-link)

.cc--darkmode #cc-main
  --cc-btn-secondary-bg: #3a4248
  --cc-btn-secondary-color: var(--color-default)
  --cc-btn-secondary-border-color: #3a4248
