// https://github.com/chriskempson/tomorrow-theme
:root {
    --highlight-background: #eee
    --highlight-current-line: #efefef
    --highlight-selection: #d6d6d6
    --highlight-foreground: #4d4d4c
    --highlight-comment: #8e908c
    --highlight-red: #c82829
    --highlight-orange: #f5871f
    --highlight-yellow: #eab700
    --highlight-green: #718c00
    --highlight-aqua: #3e999f
    --highlight-blue: #4271ae
    --highlight-purple: #8959a8
}

@media (prefers-color-scheme: dark) {
    :root {
        --highlight-background: #000000
        --highlight-current-line: #2a2a2a
        --highlight-selection: #424242
        --highlight-foreground: #eaeaea
        --highlight-comment: #969896
        --highlight-red: #d54e53
        --highlight-orange: #e78c45
        --highlight-yellow: #e7c547
        --highlight-green: #b9ca4a
        --highlight-aqua: #70c0b1
        --highlight-blue: #7aa6da
        --highlight-purple: #c397d8
    }
}

pre, code
  font-family: font-mono
  color: var(--highlight-foreground)
  background: var(--color-content-bg-hl)

code
  padding: 0 5px

pre
  padding: 10px 15px
  line-height: 22px
  code
    border: none
    display: block
    padding: 0

.highlight
  padding: 10px 15px
  color: var(--highlight-foreground)
  background: var(--highlight-background)
  overflow: auto
  margin: 0
  table
    margin: 0 !important
    border: 0
    th, td
      padding: 0
  figcaption
    clearfix()
    margin: -5px 0 5px
    color: var(--color-gray)
    a
      float: right
  pre
    margin: 0
    padding: 0
    background: none
  .line
    height: 22px

pre
  .comment
  .title
    color: var(--highlight-comment)
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color: var(--highlight-red)
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color: var(--highlight-orange)
  .class
  .ruby .class .title
  .css .rules .attribute
    color: var(--highlight-green)
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color: var(--highlight-green)
  .css .hexcolor
    color: var(--highlight-aqua)
  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: var(--highlight-blue)
  .keyword
  .javascript .function
    color: var(--highlight-purple)