@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?e8nnma');
  src:  url('../fonts/icomoon.eot?e8nnma#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?e8nnma') format('truetype'),
    url('../fonts/icomoon.woff?e8nnma') format('woff'),
    url('../fonts/icomoon.svg?e8nnma#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopify:before {
  content: "\e905";
}
.icon-network:before {
  content: "\e902";
}
.icon-opencollective:before {
  content: "\e903";
}
.icon-patreon:before {
  content: "\e904";
}
.icon-search:before {
  content: "\f002";
}
.icon-gear:before {
  content: "\f013";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-shield:before {
  content: "\f132";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-typescript:before {
  content: "\e900";
}
.icon-chat-bubble-dots:before {
  content: "\e901";
}
