note-tip = hsl(40, 100%, 50%)
note-info = hsl(200, 100%, 50%)
note-warn = hsl(0, 100%, 50%)

#content
  position: relative

#content-inner
  display: flex

  #sidebar
    flex: 0 0 sidebar-width
  .article-container
    flex: 1 100%

.article-inner
  display: flex
  .article
    width: 0
    flex: 1 1 100%
    padding: 40px 0
    overflow: hidden;
    text-overflow: ellipsis;
    @media print
      padding: 0
  #article-toc
    display: none
    width: sidebar-width
    opacity: 0.8
    @media mq-normal
      display: block

#article-toc-inner
  @extend .inner
  width: sidebar-width
  position: sticky
  top: 0
  margin: 40px auto
  .sidebar-title
    border-top: none

.toc-link
  @extend .sidebar-link

.toc-child
  padding-left: 1em
  font-size: 0.9em

#article-toc-inner-list
  overflow-y: auto

#article-toc-top
  margin-top: 13px
  font-size: 0.9em
  text-decoration: none
  color: var(--color-default)
  display: block
  &:hover
    color: var(--color-link-hover)

.article-header
  padding-bottom: 20px
  overflow: hidden;

.article-title
  float: left
  font-size: 36px
  font-weight: 300
  text-decoration: none
  color: var(--color-default)
  transition: 0.2s
  a&:hover
    color: var(--color-link-hover)
  .post &
    float: none

.article-date
  color: var(--color-gray)
  text-decoration: none
  display: inline-block
  margin-top: 1em
  &:hover
    color: var(--color-link-hover)

.article-edit-link
  float: right
  text-decoration: none;
  color: #bbb
  font-size: 24px
  line-height: 36px
  transition: 0.2s
  display: none
  &:hover
    color: var(--color-link-hover)
  @media mq-normal
    display: block

.article-anchor
  margin-left: 10px
  display: none
  &:before
    content: "#"
  @media print
    display: none !important
  .article-heading:hover &
    display: inline-block

.article-content
  line-height: line-height
  color: var(--color-default)
  @media print
    font-size: 12pt
  p, ol, ul, dl, table, blockquote, iframe, .highlight
    margin: 1em 0
  h1
    font-size: 2em
  h2
    font-size: 1.5em
    border-bottom: 1px solid var(--color-border)
    padding-bottom: 10px
    margin-bottom: 15px
  h3
    font-size: 1.3em
  h1, h2, h3, h4, h5, h6
    line-height: 1em
    font-weight: bold
    margin: 1em 0
  hr
    border-bottom: none;
    border-top: 1px dashed var(--color-border);
  a
    &[target="_blank"]
      position: relative
      &::after
        content: '\00f08e'
        font-family: 'icomoon'
        padding-left: 3px;
        vertical-align: super;
        zoom: .7
  strong
    font-weight: bold
  em
    font-style: italic
  ul, ol, dl
    margin-left: 20px
    ul, ol, dl
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dl
    list-style: square
  li
    p
      margin: 0
    table, blockquote, iframe, .highlight
      margin: 1em 0
  img, video
    max-width: 100%
  img[src*="@2x"]
    zoom: 50%
  blockquote
    padding: 0 20px
    position: relative
    border: 1px solid var(--color-border)
    border-left: 5px solid #ddd
    footer
      margin: 1em 0
      font-style: italic
      cite
        &:before
          content: "—"
          padding: 0 0.3em
        a
          color: color-grey
    @media (prefers-color-scheme: dark)
      border-color: var(--color-gray)
  .note
    &.tip
      border-left-color: note-tip
    &.info
      border-left-color: note-info
    &.warn
      border-left-color: note-warn
  .since
    margin-top: 0;
    font-style: italic;
  .since::before
    content: "Added in: "
  .note-title
    margin: 1em 0 0.5em
    display: block
    font-size: 1.3em
    font-weight: bold
    + *
      margin-top: 0
  table
    max-width: 100%
    border: 1px solid var(--color-border)
    th
      font-weight: bold
    th, td
      padding: 5px 15px
    tr
      &:nth-child(2n)
        background: #eee
        @media (prefers-color-scheme: dark)
          background: var(--color-gray)

.article-footer
  margin: 60px 0 0
  border-top: 1px solid var(--color-border)
  text-align: center
  color: var(--color-gray)
  line-height: 1em
  padding-top: 1em
  position: relative
  @media print
    display: none

$article-footer-link
  color: var(--color-link)
  text-decoration: none
  font-weight: bold
  text-transform: uppercase
  position: absolute
  &:hover
    color: var(--color-link-hover)
  @media print
    display: none
  span
    padding: 0 6px
  span, i
    vertical-align: middle

.article-footer-prev
  @extend $article-footer-link
  left: 0

.article-footer-next
  @extend $article-footer-link
  right: 0

.article-footer-updated
  font-size: 0.9em

[lang="zh-cn"] .since::before
  content: "支持版本："