#playground
  background: var(--color-content-bg)
  overflow: hidden
  .wrapper
    margin-bottom: 40px
  h1
    font-size: 36px
    font-weight: 300
    margin: 40px 0 24px

  .row
    display: flex
    flex-wrap: wrap;
    justify-content: space-between
    font-size: 1em
    .col
      flex: 1 1 100%
      margin-bottom: 10px

  @media mq-normal
    .row
      flex-wrap: nowrap;
    .col:first-child
      margin-right: 15px

  #editorEl
    height: 40vh
  #dataEl
    height: 28vh
    margin-top: 2vh
  #previewEl
    height: 70vh
