<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>

  {% block %}

  <footer> {% block footer %} </footer>
</body>
</html>
