layout: index
description: LiquidJS is a simple, expressive and safe Shopify / Github Pages compatible template engine in pure JavaScript.
subtitle: A simple, expressive and safe template engine.
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.icon-shield
      h3.intro-feature-title Safe Rendering
      p.intro-feature-desc Liquid templates are highly readable and fault-tolerant thus suitable for designers and customers. Operators and expressions are parsed to AST and no #[code eval] or #[code new Function] are used. 
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.icon-rocket
      h3.intro-feature-title Zero Dependency
      p.intro-feature-desc Written with zero npm dependency and no native binding, available in both Node.js and browsers. All of the CMD, ESM and CJS bundles are available on CDN.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.icon-shopify
      h3.intro-feature-title Shopify Compatible
      p.intro-feature-desc All filters and tags from Ruby #[a(href="https://github.com/shopify/liquid") shopify/liquid] are supported by LiquidJS. #[a(href="https://jekyllrb.com/") Jekyll sites], #[a(href="https://pages.github.com/") Github Pages] and #[a(href="https://themes.shopify.com/") Shopify templates] can be ported to Node.js without pain.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.icon-typescript
      h3.intro-feature-title TypeScript Strict
      p.intro-feature-desc The whole repo is re-written in TypeScript strict mode to ensure a smooth experience using this lib and the document is precise and always up to date.