<header className="App-header">
    {{ logo | image }}
    <h2>Welcome {{name | capitalize}}</h2>
    <p>
         Edit <code>src/App.js</code> and save to reload. 
    </p>
    <p>
         You are using liquidjs & Reactjs 
    </p>
    <a
        className="App-link"
        href="https://reactjs.org"
        target="_blank"
        rel="noopener noreferrer"
    >
        Learn React
    </a>
</header>
