<header className="App-header">
    {{ logo | image }}
    <h2 data-testid="heading">Welcome to {{name | capitalize}}</h2>
    <p>
    Edit <code>src/views/demo.liquid</code> and save to reload. 
    </p>
    <p>
         You are using LiquidJS & React
    </p>
</header>
