<header className="App-header">
    {{ logo | image }}
    <h2 data-testid="heading">Welcome to {{name | capitalize}} (hooks)</h2>
    <p>Edit <code>src/views/showing-click-times.liquid</code> and save to reload.</p>
    <p>You have clicked {{clickCount}} times.</p>
</header>
